<!-- characters.component.html -->

<div class="container" #scrollContainer>
  <header>
    <div class="top">
      <h1>All Rick And Morty Characters</h1>

      <div class="search-bar">
        <input type="text" placeholder="Search characters..." (input)="performSearch($event)">

      </div>
    </div>
  </header>

  <div class="characters-list">
    <div *ngFor="let character of filteredPersonagens" class="character-card" (click)="viewCharacterDetails(character.id)">
      <h2>{{ character.name }}</h2>
      <img [src]="character.image" alt="{{ character.name }} image">
      <p>Status: {{ character.status }}</p>
      <p>Species: {{ character.species }}</p>
      <p>Gender: {{ character.gender }}</p>
    </div>
  </div>
</div>
