<div class="container" *ngIf="character">
  <h2>{{ character.name }}</h2>
  <img [src]="character.image" alt="{{ character.name }} image">

  <div class="character-info" *ngIf="character.status || character.species || character.type || character.gender || character.origin || character.location">
    <p *ngIf="character.status"><strong>Status:</strong> {{ character.status }}</p>
    <p *ngIf="character.species"><strong>Species:</strong> {{ character.species }}</p>
    <p *ngIf="character.type"><strong>Type:</strong> {{ character.type }}</p>
    <p *ngIf="character.gender"><strong>Gender:</strong> {{ character.gender }}</p>
    <p *ngIf="character.origin"><strong>Origin:</strong> {{ character.origin.name }}</p>
    <p *ngIf="character.location"><strong>Last known location:</strong> {{ character.location.name }}</p>
  </div>

  <div class="episodes" *ngIf="episodes && episodes.length > 0">
    <p class="episode-label">Episodes:</p>
    <ul >
      <li *ngFor="let episode of episodes">{{ episode.name }}</li>
    </ul>
  </div>

</div>
