<mat-toolbar class="custom-toolbar">
  <a class="navbar-brand" routerLink="/characters">
    <img src="../../../assets/img/logo_rickmorty.png" alt="Logo">
  </a>
  <button class="hamburger-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <nav class="menu-comum" [class.visible]="isMenuVisible">
    <span *ngIf="loggedInUser" class="user-info">
      <button class="botao" routerLink="/profile">
        <img class="profile-img"  src="../../../assets/img/usuario.png" alt="Foto de perfil do usuário">
        {{ loggedInUser }}
      </button>
    </span>
    <button routerLink="/characters" class="botao">Character</button>
    <button routerLink="/episodes" class="botao">Episodes</button>
    <span *ngIf="loggedInUser" class="user-info">
      <button (click)="logout()" class="botao">Logout</button>
    </span>
  </nav>
</mat-toolbar>
