.custom-toolbar {
  background-color: #78866B;
  color: white;
  height: 64px;
  padding: 0 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    img {
      max-height: 150px;
      margin-right: 12px;
      cursor: pointer;
    }
  }

  .menu-comum {
    display: flex;
    align-items: center;

    .botao {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 14px;
      margin-left: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 3px;

      &:hover {
        color: #ffc107;
        text-decoration: none; /* Remove o sublinhado ao passar o mouse */
      }
    }

    .user-info {
      display: flex;
      align-items: center;

      .profile-img {
        width: 32px; /* Ajuste o tamanho da imagem conforme necessário */
        height: 32px; /* Ajuste o tamanho da imagem conforme necessário */
        border-radius: 50%; /* Torna a imagem redonda */
        }
    }
  }
}
