<mat-toolbar class="custom-toolbar">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/img/logo_rickmorty.png" alt="Logo">
  </a>
  <nav class="menu-comum">
    <span *ngIf="loggedInUser" class="user-info">
      <button class="botao"> <img class="profile-img" src="../../../assets/img/usuario.png" alt="Foto de perfil do usuário"> {{ loggedInUser }}</button>  
    </span>
    <button routerLink="/characters" class="botao">Personagens</button>
    <button routerLink="/episodes" class="botao">Episódios</button>
    <button routerLink="/profile" class="botao">Profile</button>
    <span *ngIf="loggedInUser" class="user-info">
      <button (click)="logout()" class="botao">Logout</button>
    </span>
  </nav>
</mat-toolbar>
